<header>
  <a class="brand" href="/">Anengu Coffee Project</a>

  <nav>
    <button class="menu" id="openMenu"><i class="fa fa-bars"></i> Menu</button>
    <ul>
      <li><a class="smoothScroll" href="#solarPoweredCoffee">Solar Powered Coffee</a></li>
      <li><a class="smoothScroll" href="#theBackstory">The Backstory</a></li>
      <li><a class="smoothScroll" href="#projectOrigins">The Project Origins</a></li>
      <li><a class="smoothScroll" href="#makeLoan">Make A Loan</a></li>
    </ul>
  </nav>

</header>
<div class="collapsed-menu">
  <ul>
    <li><button class="menu" id="closeMenu"><i class="fa fa-times"></i> Close</button></li>
    <li><a class="collapsed-item" href="#solarPoweredCoffee">Solar Powered Coffee</a></li>
    <li><a class="collapsed-item" href="#theBackstory">The Backstory</a></li>
    <li><a class="collapsed-item" href="#projectOrigins">The Project Origins</a></li>
    <li><a class="collapsed-item" href="#makeLoan">Make A Loan</a></li>
  </ul>
</div>
