@font-face {
  font-family: 'Sandman_Fill';
  src: url('/fonts/Sandman_Fill.woff') format('woff'),
       url('/fonts/Sandman_Fill') format('truetype');
}
@font-face {
  font-family: 'Sandman_Line';
  src: url('/fonts/Sandman_Line.woff') format('woff'),
       url('/fonts/Sandman_Line') format('truetype');
}
