header {
  position: fixed;
  z-index: 2;
  width: 90%;
  padding: 1.333rem 5%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.25));
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.6s ease;
  @include for-tablet-landscape-up {
    background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.15));
  }
  ul {
    display: none;
    li {
      display: block;
      a {
        display: inline-block;
        padding: 1rem;
        text-decoration: none;
      }
      &:last-child {
        a {
          border: 1px solid #fff;
          border-radius: 6px;
          margin-top: 1rem;
        }
      }
    }
    @include for-tablet-landscape-up {
      display: block;
      li {
        display: inline-block;
        a {
          padding: 0.333rem 1rem;
        }
        &:last-child {
          a {
            margin-top: 0;
            margin-left: 1rem;
          }
        }
      }
    }
  }
  a {
    color: #fff;
    text-shadow: $text-shadow;
  }
  a.brand {
    font-family: "Sandman_Fill", $headings-font-family;
    font-size: 1.5rem;
    @include for-tablet-landscape-up {
      font-size: 2rem;
    }
  }
  button {
    display: block;
    @include for-tablet-landscape-up {
      display: none;
    }
  }
}
.header-white {
  background: #fff;
  box-shadow: 0px 1px 8px rgba(0,0,0,0.2);
  ul {
    li:last-child {
      a {
        border-color: $brand-color;
      }
    }
  }
  a {
    color: $brand-color;
    text-shadow: none;
  }
}
.collapsed-menu {
  display: none;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: rgba(0,0,0,0.9);
  padding: 2rem 0;
  ul {
    list-style-type: none;
    li {
      text-align: center;
      display: block;
      width: 100%;
      padding: 1rem 0;
    }
  }
}
button.menu {
  background: $brand-color;
  font-family: "Sandman_Fill", $base-font-family;
  font-size: 1.2rem;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 0.333rem 0.667rem;
  i {
    margin-right: 0.15rem;
    font-size: 1.05rem;
  }
}
