.hero {
  height: 80vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.15)), url('/images/hero.jpg') center center;
  background-size: cover;
  font-family: $headings-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
  }
  h1,
  h2 {
    color: #fff;
  }
  h2 {
    font-family: "Sandman_Line", $base-font-family;
    margin-bottom: 0;
    font-size: 2.5rem;
    @include for-tablet-portrait-up {
      font-size: 8rem;
    }
  }
  h1 {
    text-shadow: 0 -1px 8px rgba(0,0,0,0.5);
    font-size: 4rem;
    font-family: "Sandman_Fill", $base-font-family;
    @include for-tablet-portrait-up {
      font-size: 5rem;
    }
  }
}
