// Anengu variables

$text-color:          #333;
$text-shadow:         0 0 0.5rem rgba(0,0,0,0.5);
$background-color:    #fdfdfd;
$brand-color:         #d7785f;

$base-font-family:    "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:      15px;
$base-font-weight:    400;
$small:               $base-font-size * 0.835;
$base-line-height:    1.5;

$headings-font-family: "Lora", "Sandman_Line", $base-font-family;
